/*Site Background*/
body {
    background-color: darkslategray;
}

/*Logo and Text*/
div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.principale {
    color:cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    /*margin-right: 8000px; //Old: 500px//
    margin-top: 20px;*/
    margin: 0 0px;
    margin-top: 1.7%;
    cursor: pointer;
}

img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    /*margin-left: 360px; //Old: 500px//
    margin-top: -50px;*/
    margin: 0 0px;
    margin-top: -1.7%;
    cursor: pointer;
}

/*Searchbar*/
div.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button#button {
    background-color: #04AA6D;
    border: none;
    color: rgb(75, 63, 63);
    padding: 20px; /*Old: 28px*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
}

input#bar {
    background-color: #04AA6D;
    border: none;
    color: rgb(75, 63, 63);
    padding: 20px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: text;
}

/*Copyright*/
h2.principale {
    color:cadetblue;
    text-align: center;
    /*margin-top: calc(40% - 50px + 10px);*/
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}